#cam, #cam--view, #cam--sensor, #cam--output{
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#cam--view, #cam--sensor, #cam--output{
  transform: scaleX(-1);
  filter: FlipH;
}

#cam--trigger{
  position: fixed;
  bottom: 80px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 90px;
  background:  #bff;
  border: 5px solid #4cf;
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}
