<mat-grid-list cols="5" rowHeight="50px">
  <mat-grid-tile colspan="1" rowspan="1">
    <a mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <a mat-icon-button routerLink="/maps">
      <mat-icon>map</mat-icon>
    </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <a mat-icon-button routerLink="/photos">
      <mat-icon>photos</mat-icon>
    </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <a mat-icon-button routerLink="/camera" >
      <mat-icon>camera</mat-icon>
    </a>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <a mat-icon-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </a>
  </mat-grid-tile>
</mat-grid-list>
