<mat-grid-list cols="3" rowHeight="50px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div id="deviceDirection">0</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div id="deviceHeading">0</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div id="geoSpeed">0</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div id="geoHeading">0</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div id="geoAltitude">0</div>
  </mat-grid-tile>
</mat-grid-list>
