<div class="flex-container">
  <div class="flex-tile" *ngFor="let location of room.locations">
    <mat-card>
      <mat-card-header>
        <!-- <mat-icon height="100%" svgIcon="hue:heroesLightstrip" [style.backgroundColor]="location.styleBackgroundColor">
        </mat-icon> -->
        <div mat-card-avatar [style.backgroundColor]="location.styleBackgroundColor"
          [style.backgroundImage]="location.styleBackgroundImage">
        </div>
        <div class="mat-spacer"></div>
        <mat-slide-toggle [checked]="location.light.state.on"
          (change)="update(location, 'on', !location.light.state.on)">
        </mat-slide-toggle>
      </mat-card-header>
      <mat-card-content>
        <mat-slider [(ngModel)]="location.light.state.bri" max="254"
          (change)="update(location, 'bri', location.light.state.bri)">
        </mat-slider>
        <mat-slider [(ngModel)]="location.light.state.sat" max="254"
          (change)="update(location, 'sat', location.light.state.sat)">
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
</div>