<div class="flex-container">
  <div *ngFor="let location of room.locations" class="flex-tile">
    <mat-card>
      <mat-card-header>
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <div mat-card-avatar [style.backgroundColor]="location.styleBackgroundColor" [style.backgroundImage]="location.styleBackgroundImage"></div>
        <mat-card-text>{{ location.light.name }}</mat-card-text>
        <mat-slide-toggle aria-label="power" color="accent" [checked]="location.light.state.on"></mat-slide-toggle>
      </mat-card-header>
      <mat-card-content>
        <mat-slider min="1" step="1" max="254" [value]="location.light.state.bri">
        </mat-slider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="toggleEffect(location.light)">loop</button>
        <button mat-button (click)="turnLightOn(location.light)">power</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
