<div class="flex-container">
  <div *ngFor="let location of room.locations" class="flex-tile">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar [style.backgroundColor]="location.styleBackgroundColor"></div>
        <div class="mat-spacer"></div>
        <mat-slide-toggle [id]="location.light.id" aria-label="power" color="accent" [checked]="location.light.state.on"
          (change)="turnLightOn(location.light)">
        </mat-slide-toggle>
      </mat-card-header>
      <mat-card-content>
        <mat-slider min="1" step="1" max="254" [value]="location.light.state.bri">
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
</div>